<div *ngIf="myMovie">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{myMovie.title}}</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">

                <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{myMovie.poster_path}}">

                <div class="col-md-7">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Genres: <span *ngFor="let item of myMovie.genres">{{item.name}}</span>
                        </li>
                        <li class="list-group-item">

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>